
<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>My Family</h1>
    <p><%= "Your family has #{@family.users.count} members" %></p>
  </div>
  <div class="col-xs-12 col-md-6">
    <%= button_to "Delete Family",family_path(@family),method: :delete,data: { confirm: "Are you sure?"},class:"btn btn-danger" %>
  </div>
</div>

<% @family.users.each do |user|%>
    <div class="col-xs-12 col-md-6 ">
      <div class="user-card">
        <h4 class="user-name"><%= "#{user.first_name} #{user.mi} #{user.last_name}" %></h4>
        <p class="user-location"><%= user.email %></p>
        <p class="user-location"><%= "#{user.country} | #{user.city}" %></p>
        <p class="user-location"><%= link_to "View Profile", user_path(user), class: "btn btn-primary" %></p>
        <% if current_user.id == user.id %>
          <%= simple_form_for '', url: delete_to_family_families_path , method: :post do |form| %>
            <%= form.input :id, :as => :hidden, :input_html => { :value => user.id }%>
            <%= form.submit "Leave the Group",  class: "btn btn-danger user-space-button " %>
          <%end%>
        <%end%>
        <% if current_user.admin == true  %>
            <%= link_to "Edit User", edit_user_path(user) %>
            <%= link_to "Delete User", user_path(user), method: :delete, data: { confirm: "Are you sure? "} %>
        <% end %>
      </div>
    </div>
<% end %>
