<<<<<<< HEAD
<div class="col-xs-12">
  <h1>My Family</h1>
  <p><%= "Your family has #{@family.users.count} members" %></p>

</div>

<% @family.users.each do |user|%>
    <div class="col-xs-12 col-md-6 ">
      <div class="user-card">
        <h4 class="user-name"><%= "#{user.first_name} #{user.mi} #{user.last_name}" %></h4>
        <p class="user-location"><%= user.email %></p>
        <p class="user-location"><%= "#{user.country} | #{user.city}" %></p>
        <p class="user-location"><%= link_to "View Profile", user_path(user) %></p>
        <% if current_user.admin == true  %>
            <%= link_to "Edit User", edit_user_path(user) %>
            <%= link_to "Delete User", user_path(user), method: :delete, data: { confirm: "Are you sure? "} %>
        <% end %>
      </div>
    </div>
<% end %>
=======
<%= @family.users.count %>
<% @family.users.each do |u|%>
  <%= link_to "#{u.first_name}", user_path(u) %>
<% end %>
>>>>>>> b9c12df... Change Family controller to send to the right routes
