<div clas="row">
  <h1 class="text-center">Listing all Users</h1>
</div>

<div class="col-xs-12">
  <% if params[:search] %>
    <p><%= "You searched for #{params[:search]}"%></p>
  <% end %>
</div>

<% @users.each do |user| %>
   <div class="col-xs-12 col-md-6">
     <div class="user-card">
       <h4 class="user-name"><%= "#{user.first_name} #{user.mi} #{user.last_name}" %></h4>
       <p class="user-location"><%= user.email %></p>
       <p class="user-location"><%= "#{user.country} | #{user.city}" %></p>
       <p class="user-location"><%= link_to "View Profile", user_path(user) %></p>
       <% if user.family_id != 0 %>
       <p class="user-location">Already in a family</p>
       <%elsif current_user.id == user.id%>
       <p class="user-location">You dont have family</p>
       <%else%>
         <%= simple_form_for '', url: add_to_family_families_path, method: :post do |form| %>
           <%= form.input :id, :as => :hidden, :input_html => { :value => user.id }%>
           <%= form.submit "Add to family",  class: "btn btn-primary" %>
         <% end %>
     <% end %>

     <% if current_user.friends.map(&:id).include?(user.id)  %>
     <div class="text-right">
       <%= link_to "Remove Friend", friendship_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger delete-friend" %>
     </div>
      <% elsif current_user.id != user.id  %>
      <%= simple_form_for '', url: add_friend_users_path, method: :post do |form| %>
        <%= form.input :id, :as => :hidden, :input_html => { :value => user.id }%>
        <%= form.submit "Add Friend",  class: "btn btn-primary" %>
      <% end %>
     <% end %>


     <% if current_user.admin == true  %>
     <%= link_to "Edit User", edit_user_path(user) %>
     <%= link_to "Delete User", user_path(user), method: :delete, data: { confirm: "Are you sure? "} %>
    <% end %>
     </div>
   </div>
<% end %>
