<div class="col-xs-12 col-md-6 user-info-margin">
  <fieldset>
    <legend>User Info</legend>
    <p ><%= "Name: #{@user.first_name} #{@user.mi} #{@user.last_name}" %></p>
    <p><%= "Email: @user.email" %></p>

    <div class="btn-flex" role="group" >
    <% if @user.family_id != 0 %>
      <button class="btn btn-default">Already in a family</button>
    <%elsif current_user.id == @user.id%>
      <p>You dont have family</p>
    <%else%>
      <%= simple_form_for '' ,url: add_to_family_families_path, method: :post do |form| %>
        <%= form.input :id, :as => :hidden, :input_html => { :value => @user.id }%>
        <%= form.submit "Add to family",  class: "btn btn-primary space-right" %>
      <% end %>
    <% end %>
  <% if @user.family_id != 0 %>
    <% if @user.family_id == current_user.family_id && current_user.id != @user.id %>
      <%= simple_form_for '', url: delete_to_family_families_path, method: :post do |form| %>
        <%= form.input :id, :as => :hidden, :input_html => { :value => @user.id }%>
        <%= form.submit "Remove from your family",  class: "btn btn-danger" %>
      <%end%>
    <%end%>
  <%end%>
    </div>

  </fieldset>
</div>

<div class="col-xs-12 col-md-6 user-info-margin">
  <fieldset>
    <legend>Address Info</legend>
    <p><%= "Country: #{@user.country} | City: #{@user.city}" %></p>
    <p><%= "Addres: #{@user.address1}" %></p>
    <p><%= "Addres: #{@user.address2}" %></p>
    <p><%= "Zip Code: #{@user.zip}" %></p>
  </fieldset>
</div>
