<h1><%= "#{@user.first_name} #{@user.mi} #{@user.last_name}" %></h1>
<p><%= "#{@user.country} | #{@user.city}" %></p>
<p><%= @user.email %></p>
<p><%= @user.address1 %></p>
<p><%= @user.address2 %></p>
<p><%= @user.zip %></p>