<nav class="navbar nav navbar-app">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "BookMark", root_path  , class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="active"><%= link_to "Users Profile", users_path, class: "navbar-links" %> </li>
          <li class="active"><%= link_to "My Friends", my_friends_path, class: "navbar-links" %> </li>
          <li class="active"><%= link_to "My Family", root_path, class: "navbar-links" %> </li>
          <% if current_user.family_id == 0 %>
          <li class="active"><%= link_to "Create family", families_path,method: :post, class: "navbar-links" %> </li>
        <% end %>
        <% end %>
      </ul>
      <div class="navbar-form navbar-left text-center hidden-sm hidden-xs search-nav-desktop">
        <% if user_signed_in? %>
          <%= form_tag(users_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: "form-control search-input" %>
              <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
          <% end %>
      <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to "Signed as #{current_user.first_name}  #{current_user.last_name}",
                                 edit_user_registration_path(current_user), class: "navbar-links" %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-links"  %></li>
         <% else %>
          <li><%= link_to "Sign In", new_user_session_path, class: "navbar-links"  %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "navbar-links"  %></li>
         <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="navbar-left text-center hidden-md hidden-lg nav-width">
  <% if user_signed_in? %>
    <%= form_tag(users_path, :method => "get", id: "search-form-mobile") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: "form-control search-input-mobile" %>
        <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
    <% end %>
<% end %>
</div>
